@import "tailwindcss";

:root {
  --background: #050505; /* 限りなく黒に近いグレー */
  --foreground: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden; /* 横スクロール防止 */
  -webkit-font-smoothing: antialiased;
}

/* スクロールバーを細くスタイリッシュに */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}

::selection {
  background: #00ffff; /* シアンのハイライト */
  color: #000000;
}